/*CSS*/

/*	LOGIN PAGE	*/

/*Background image*/
.bg{
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('lgin_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

/*Login-box*/
.body{
	width: 250px;
	height: 160px;
	margin: 17% auto;
	clear: both;
	border-top: solid 5px rgb(0, 172, 230);
	background-color: #FFF;
}

/*Content*/
.body form {
	width: 60%;
	margin: 10px auto;
	clear: both;
}

/*Login title*/
#title {
	display: inline-block;
	font: georgia;
	color: #222;
	margin: 20px auto 0 auto;
	clear: both;
	width: 100%;
	text-align: center;
}

/*Invalid login response*/
#echo_lgin{
	width: 60%;
	padding: 3px 0;
	text-align: center;
	margin: 10px auto;
	clear: both;
	font-size: 14px;
	font-weight: bold;
	color: rgb(230, 58, 0);
}

/*Login input fields*/
#un, #pw {
	width: 96%;
	clear: both;
	margin: 2%;
}

/*Login buttons*/
#lgin, #reg{
	width: 46%;
	margin: 2%;
	float: left;
}

/**/

/**/