/*Stylesheet*/
body {

}

.bg{
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('lgin_bg.jpg');
	z-index: -1;
	/*-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);*/
}

.body{
	width: 250px;
	height: 170px;
	margin: 15% auto;
	clear: both;
	border-top: solid 5px rgb(0, 172, 230);
	border-bottom: solid 5px rgb(0, 172, 230);
	border-radius: 10px;
	background-color: #FFF;
}

.body form {
	width: 60%;
	margin: 10px auto;
	clear: both;
}

.body form input {
	
}

#title {
	display: inline-block;
	font: georgia;
	color: #222;
	margin: 20px auto 0 auto;
	clear: both;
	width: 100%;
	text-align: center;
}

#echo_lgin{
	width: 60%;
	padding: 3px 0;
	text-align: center;
	margin: 10px auto;
	clear: both;
	font-size: 14px;
	font-weight: bold;
	color: rgb(230, 58, 0);
	/*background-color: rgba(0, 172, 230, 0.3);
	border: solid 1px rgba(0, 172, 230, 0.0);
	border-radius: 3px;*/
}

#un, #pw {
	width: 96%;
	clear: both;
	margin: 2%;
}

#lgin, #reg{
	width: 46%;
	margin: 2%;
	float: left;
}